body {
  background-color: #1f1f1f;
  background: url(/public/img/noise.png);
  animation: bgNoise .5s steps(5) infinite;
}
@keyframes bgNoise {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}