*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow-x: auto;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'ClimateCrisisKR-1979';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}